* {
	padding: 0;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: inherit;
}
.container {
	width: 1366px;
	height: 230px;
	margin-top: 20px;
}
@media only screen and (max-width: 800px) {
	.container {
		width: device-width;
		height: 150px;
	}
}	
#mainheading {
	background: rgb(60,79,79);
	width: 753px;
	height: 230px;
	float: left;
}
@media only screen and (max-width: 800px) {
	#mainheading {
		width: 55%;
		height: 150px;
	}
}
#nameheading {
	margin-left: 263px;
	text-align: right;
	font-size: 5.5em;
	font-style: italic;
	height: 0.7em;
	line-height: 25px;
	color: rgb(45,65,65);
	font-family: Baskerville, Garamond, serif;
	letter-spacing: 0.05em;
	font-weight: bold;
}
@media only screen and (max-width: 800px) {
	#nameheading {
		font-size: 3.0em;
	}
}
#blogheading {
	margin-left: 263px;
	text-align: right;
	font-family: helvetica;
	font-size: 4.7em;
	color: ghostwhite;
	letter-spacing: 0.05em;
	line-height: 20px;
	font-weight: normal;
}
@media only screen and (max-width: 800px) {
	#blogheading {
		font-size: 3.5em;
	}
}
#summaryheading {
	margin-left: 263px;
	text-align: right;
	margin-top: 63px;
	font-size: 1.555em;
	color: ghostwhite;
	font-family: Baskerville, Garamond, serif;
	font-style: italic;
	letter-spacing: 0.05em;
}
@media only screen and (max-width: 800px) {
	#summaryheading {
		font-size: 1.2em;
	}
}
img {
	width: 350px;
	height: 230px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
@media only screen and (max-width: 800px) {
	img {
		width: 30%;
		height: 150px;
	}
}
#panel {
	width: 350px;
	height: 230px;
	background: rgb(160,180,140);
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
@media only screen and (max-width: 800px) {
	#panel {
		width: 30%;
		height: 150px;
	}
}
#navigationbox {
	background: rgb(220,230,180);
	height: 230px;
	width: 253px;
	float: left;
}
@media only screen and (max-width: 800px) {
	#navigationbox {
		width: 15%;
		height: 150px;
	}
}
#navigation {
	font-size: 25px;
	font-family: helvetica;
	list-style: none;
	font-weight: bold;
	color: firebrick;
	letter-spacing: 0.1em;
	line-height: 1.2;
	text-align: left;
	font-weight: 500;
	margin-top: 108px;
}
@media only screen and (max-width: 800px) {
	#navigation {
		font-size: 1.2em;
		margin-top: 50px;
	}
}
a:hover {
	color: rgb(160,180,140);
}
#mainpost {
	font-family: helvetica;
	margin-top: 40px;	
	width: 840px;
	float: left;
	text-align: left;
	margin-left: 263px;
}
@media only screen and (max-width: 800px) {
	#mainpost {
		width: 70%;
		margin-left: 15%;
	}
}
#headline {
	font-size: 1.9em;
	line-height: 1.8;
	letter-spacing: 0.04em;
	font-weight: 500;
	color: rgb(160,180,140);
}
#date {
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
}
#text {
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
	margin-top: 10px;
	text-align: justify;
}
#continue {
	font-size: 1.1em;
	line-height: 1.5;
	font-weight: 500;
	color: firebrick;
	letter-spacing: 0.04em;
	margin-top: 8px;
}
#previousposts {
	width: 890px;
	float: left;
	text-align: left;
	margin-left: 213px;
	font-family: helvetica;
	margin-top: 30px;
	letter-spacing: 0.04em;
}
#postimage {
	width: 212px;
	height: 212px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
}
#imagetitle {
	width: 212px;
	height: 30px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	margin-bottom: 10px;
}
#moreposts {
	font-family: helvetica;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.04em;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 20px;
	color: firebrick;
}
#aboutparagraph {
	font-family: helvetica;
	margin-top: 40px;
	width: 485px;
	float: left;
	text-align: left;
	margin-left: 263px;
	margin-bottom: 40px;
	margin-right: 5px;
}
#mepic {
	margin-top: 35px;
	margin-bottom: 40px;
	margin-left: 5px;
	height: 350px;
	width: 350px;
}
.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	font-family: helvetica;
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
	color: rgb(160,180,140);
}