
/* general css coding for all computer screens, excluding wide screens */

* {
	padding: 0;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: inherit;
}
.container {
	width: 100%;
	height: 36.1%;
	margin-top: 20px;
}
#leftpanel {
	width: 19%;
	height: 100%;
	background: rgb(60,79,79);
	float: left;
}
#mainheading {
	background: rgb(60,79,79);
	width: 36%;
	height: 100%;
	float: left;
	padding-right: 0.6%;
}
#nameheading {
	text-align: right;
	font-size: 6.1vw;
	font-style: italic;
	height: 0.7em;
	line-height: 25px;
	color: rgb(40,60,60);
	font-family: Baskerville, Garamond, serif;
	letter-spacing: 0.05em;
	font-weight: 500;
}
#blogheading {
	text-align: right;
	font-family: Arial, sans-serif;
	font-size: 4.9vw;
	color: ghostwhite;
	letter-spacing: 0.05em;
	line-height: 14px;
	font-weight: normal;
}
#summaryheading {
	text-align: right;
	margin-top: 11vh;
	font-size: 1.82vw;
	color: ghostwhite;
	font-family: Baskerville, Garamond, serif;
	font-style: italic;
	letter-spacing: 0.05em;
}
#mainpic {
	width: 25.4%;
	height: 100%;
	overflow: hidden;
	float: left;
}
#mainpic img {
	width: auto;
	height: 100%;
}
#panel {
	width: 25.4%;
	height: 100%;
	background: rgb(150,150,130);
	float: left;
	
}
#rightpanel {
	background: rgb(210,210,185);
	height: 100%;
	width: 19%;
	float: left;
}
#navigationnew {
	list-style: none;
	font-size: 1.75vw;
	font-family: helvetica;
	font-weight: normal;
	color: rgb(150,150,130);
	letter-spacing: 0.1em;
	line-height: 1.3;
	margin-left: 19%;
}
.navigationbar {
	height: 5.5%;
	margin-top: 0.4%;
	background: rgb(210,210,185);
}
.navigationbar li {
	float: left;
}
.navigationbar a {
	display: block;
	padding-right: 80px;
}
a:hover {
	color: rgb(60,79,79);
}
#mainpost {
	font-family: helvetica;
	margin-top: 20px;	
	width: 62%;
	float: left;
	text-align: left;
	margin-left: 19%;
}
#headline {
	font-size: 1.35em;
	line-height: 1.8;
	letter-spacing: 0.04em;
	font-weight: 500;
	color: rgb(160,160,140);
}
#date {
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
}
#text {
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
	margin-top: 10px;
	text-align: left;
}
#continue {
	font-size: 1.1em;
	line-height: 1.5;
	font-weight: 500;
	color: rgb(160,160,140);
	letter-spacing: 0.04em;
	margin-top: 8px;
}
.imagegrid img {
	width: 240px;
	height: 240px;
}
.imagegrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 19%;
	margin-right: 19%;
	margin-top: 40px;
}
.imagegrid a {
	font-family: helvetica;
	font-size: 1em;
	text-align: left;
	line-height: 1.1;
	letter-spacing: 0.04em;
	display: inline-block;
	margin-bottom: 20px;
	width: calc(33.33%-8px);
}	
figure {
  display: table;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
  margin-top: 10px;
  color: rgb(150,150,130);
}
#olderposts {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1em;
	color: rgb(150,150,130);
	font-weight: normal;
}
#moreposts {
	font-family: helvetica;
	font-size: 1.1em;
	line-height: 2.0;
	letter-spacing: 0.04em;
	font-weight: 500;
	margin-top: 2%;
	margin-bottom: 1.5%;
	color: rgb(160,160,140);
}
#aboutparagraph {
	font-family: helvetica;
	margin-top: 10px;
	width: 62%;
	float: left;
	text-align: left;
	margin-left: 19%;
}
#mepic {
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 1.5%;
	width: 26%;
	height: auto;
}
.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	font-family: helvetica;
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
	color: rgb(160,160,140);
}

/* css coding for wide screens */

@media only screen and (device-width: 1680px) and (device-height: 1050px) {
	#nameheading {
		line-height: 26px;
	}
	.container {
		height: 28%;
	}
	#summaryheading {
		margin-top: 9vh;
	}
	.navigationbar {
		height: 4.5%;
		margin-top: 1%;
	}
}

@media only screen and (device-width: 1920px) and (device-height: 1200px) {
	#nameheading {
		line-height: 26px;
	}
	.container {
		height: 28%;
	}
	#summaryheading {
		margin-top: 9vh;
	}
	.navigationbar {
		height: 4.5%;
		margin-top: 1%;
	}
}

/* css coding for all tablets in portrait excluding Amazon Kindle Fire 7 */

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
	.container {
		width: 100%;
		height: 20%;
	}
	#leftpanel {
		width: 9%;
	}
	#mainheading {
		width: 48%;	
		padding-right: 1%;
	}
	#nameheading {
		font-size: 3.8em;
		font-weight: 500;
		line-height: 19px;
	}
	#blogheading {
		font-size: 3em;
		line-height: 19px;
		letter-spacing: 0.07em;
	}
	#summaryheading {
		font-size: 1.5em;
		margin-top: 9%;
	}
	#mainpic {
		width: 33%;
		height: 100%;
		overflow: hidden;
	}
	#mainpic img {
		width: auto;
		height: 100%;
	}
	#rightpanel {
		width: 9%;	
	}
	#navigationnew {
		font-size: 1.4em;
		margin-left: 9%;
	}
	.navigationbar {
		height: 3.5%;
		margin-top: 0.4%;
	}
	.navigationbar li {
		float: left;
	}
	.navigationbar a {
		display: block;
		padding-right: 80px;
	}
	#mainpost {
		width: 82%;
		margin-left: 9%;
	}
	#headline {
		line-height: 1.0;
		font-size: 1.3em;
	}
	.imagegrid img {
		width: 180px;
		height: 180px;
	}
	.imagegrid {
		margin-left: 9%;
		margin-right: 9%;
		margin-top: 40px;
	}
	.imagegrid a {
		font-size: 1em;
		line-height: 1.1;
		margin-bottom: 20px;
		width: calc(33.33%-8px);	
	}
	#aboutparagraph {
		width: 82%;
		margin-left: 9%;
		margin-top: 10px;
	}
	#mepic {
		height: 380px;
		width: 240px;
		margin-top: 30px;
		margin-left: 0;
	}
}

/* css coding for all tablets in landscape excluding Amazon Kindle Fire 7, Apple iPad Pro, Microsoft Surface and Pro 3  */

@media only screen and (min-device-width: 901px) and (max-device-width: 1024px) and (orientation: landscape) {
	.container {
		width: 100%;
		height: 35%;
	}
	#leftpanel {
		width: 9%;
	}
	#mainheading {
		width: 48%;	
		padding-right: 1%;
	}
	#nameheading {
		font-size: 6.7vw;
		font-weight: 500;
		line-height: 18px;
	}
	#blogheading {
		font-size: 6vw;
		line-height: 18px;
	}
	#summaryheading {
		font-size: 2.5vw;
		margin-top: 10%;
	}
	#mainpic {
		width: 33%;
		height: 100%;
		overflow: hidden;
	}
	#mainpic img {
		width: auto;
		height: 100%;
	}
	#rightpanel {
		width: 9%;	
	}
	#navigationnew {
		font-size: 2.5vw;
		margin-left: 9%;
	}
	.navigationbar {
		height: 6%;
		margin-top: 0.4%;
	}
	.navigationbar li {
		float: left;
	}
	.navigationbar a {
		display: block;
		padding-right: 80px;
	}
	#mainpost {
		width: 82%;
		margin-left: 9%;
	}
	#headline {
		line-height: 1.0;
		font-size: 1.3em;
	}
	.imagegrid img {
		width: 220px;
		height: 220px;
	}
	.imagegrid {
		margin-left: 9%;
		margin-right: 9%;
		margin-top: 40px;
	}
	.imagegrid a {
		font-size: 1em;
		line-height: 1.1;
		margin-bottom: 20px;
		width: calc(25%-8px);	
	}
	#aboutparagraph {
		width: 82%;
		margin-left: 9%;
		margin-top: 10px;
	}
	#mepic {
		height: 380px;
		width: 240px;
		margin-top: 30px;
		margin-left: 0;
	}
}

/* css coding for all phones in portrait */

@media only screen and (max-device-width: 599px) and (orientation: portrait) {
	.container {
		width: 100%;
		height: 15%;
		margin-top: 10px;
	}
	#leftpanel {
		width: 11%;
	}
	#mainheading {
		width: 46%;
		padding-right: 1%;
		letter-spacing: 0.03em;
	}
	#nameheading {
		font-size: 7.9vw;
		font-weight: 500;
		line-height: 9px;
	}
	#blogheading {
		font-size: 6vw;
		line-height: 8px;
		letter-spacing: 0.05em;
	}
	#summaryheading {
		font-size: 2.8vw;
		margin-top: 7%;
	}
	#mainpic {
		width: 31%;
		height: 100%;
		overflow: hidden;
	}
	#mainpic img {
		height: 100%;
		width: auto;
	}
	#panel {
		width: 31%;
		
	}
	#rightpanel {
		width: 11%;
	}
	#navigationnew {
		font-size: 3.4vw;
		margin-left: 11%;
	}
	.navigationbar {
		height: 3.6%;
		margin-top: 0.5%;
	}
	.navigationbar li {
		float: left;
	}
	.navigationbar a {
		display: block;
		padding-right: 49px;
	}
	#mainpost {
		width: 78%;
		margin-left: 11%;
		margin-top: 20px;
	}
	#headline {
		font-size: 0.95em;
		letter-spacing: 0.02em;
		line-height: 1.0;
	}
	#date {
		font-size: 0.9em;
	}
	#text {
		font-size: 0.9em;
	}
	#continue {
		font-size: 0.9em;
	}
	.imagegrid img {
		width: 80px;
		height: 80px;
	}
	.imagegrid {
		margin-left: 11%;
		margin-right: 11%;
		margin-top: 30px;
	}
	.imagegrid a {
		font-size: 0.5em;
		margin-bottom: 10px;
		width: calc(33.33%-4px);	
	}
	figcaption {
		margin-top: 5px;
	}
	#moreposts {
		font-size: 0.8em;
	}
	#aboutparagraph {
		width: 78%;
		margin-left: 11%;
		margin-top: 10px;
	}
	#mepic {
		height: 190px;
		width: 32%;
		margin-top: 37px;
		margin-left: 0;
	}
	.footer {
		font-size: 0.3em;
	}
}

/* css coding for all phones in landscape */

@media only screen and (max-device-width: 900px) and (orientation: landscape) {
	.container {
		width: 100%;
		height: 35%;
		margin-top: 10px;
	}
	#leftpanel {
		width: 11%;
	}
	#mainheading {
		width: 46%;
		padding-right: 1%;
	}
	#nameheading {
		font-size: 7.7vw;
		font-weight: 500;
		line-height: 12px;
	}
	#blogheading {
		font-size: 6vw;
		line-height: 8px;
		letter-spacing: 0.07em;
	}
	#summaryheading {
		font-size: 2.5vw;
		margin-top: 8%;
	}
	#mainpic {
		width: 31%;
		height: 100%;
		overflow: hidden;
	}
	#mainpic img {
		width: auto;
		height: 100%;
		
	}
	#panel {
		width: 31%;
	
	}
	#rightpanel {
		width: 11%;
	}
	#navigationnew {
		font-size: 2.7vw;
		margin-left: 11%;
	}
	.navigationbar {
		height: 6.5%;
		margin-top: 0.5%;
	}
	.navigationbar li {
		float: left;
	}
	.navigationbar a {
		display: block;
		padding-right: 68px;
	}
	#mainpost {
		width: 78%;
		margin-left: 11%;
		margin-top: 20px;
	}
	#headline {
		font-size: 1em;
		letter-spacing: 0.02em;
		line-height: 1.0;
	}
	#date {
		font-size: 0.5em;
	}
	#text {
		font-size: 0.5em;
	}
	#continue {
		font-size: 0.5em;
	}
	.imagegrid img {
		width: 110px;
		height: 110px;
	}
	.imagegrid {
		margin-left: 11%;
		margin-right: 11%;
		margin-top: 30px;
	}
	.imagegrid a {
		font-size: 0.5em;
		margin-bottom: 10px;
		width: calc(33.33%-4px);	
	}
	figcaption {
		margin-top: 5px;
	}
	#moreposts {
		font-size: 1em;
	}
	#aboutparagraph {
		width: 78%;
		margin-left: 11%;
		margin-top: 10px;
	}
	#mepic {
		height: 190px;
		width: 32%;
		margin-top: 37px;
		margin-left: 0;
	}
	.footer {
		font-size: 0.3em;
	}
}

/* css coding for Samsung S7 and below */

@media only screen and (device-width: 360px) and (device-height: 640px) {
	#nameheading {
		font-size: 6.1vw;
		line-height: 6px;
	}
	#blogheading {
		font-size: 6.1vw;
		line-height: 11px;
	}
	#summaryheading {
		font-size: 2vw;
		margin-top: 15%;
	}
	.navigationbar {
		height: 3%;
	}
	.navigationbar a {
		padding-right: 48px;
	}
}

/* css coding for iPhone 5 */

@media only screen and (device-width: 320px) {
	#summaryheading {
		margin-top: 6%;
	}
	.navigationbar a {
		padding-right: 45px;
	}
	#headline {
		font-size: 0.9em;
	}
	#date {
		font-size: 0.8em;
	}
	#text {
		font-size: 0.8em;
	}
	#continue {
		font-size: 0.8em;
	}
}