* {
	padding: 0;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: inherit;
}
.container {
	width: 1366px;
	height: 230px;
	margin-top: 20px;
}	
#mainheading {
	background: rgb(60,79,79);
	width: 753px;
	height: 230px;
	float: left;
}
#nameheading {
	margin-left: 263px;
	text-align: right;
	font-size: 5.5em;
	font-style: italic;
	height: 0.7em;
	line-height: 25px;
	color: rgb(45,65,65);
	font-family: Baskerville, Garamond, serif;
	letter-spacing: 0.05em;
	font-weight: bold;
}
#blogheading {
	margin-left: 263px;
	text-align: right;
	font-family: helvetica;
	font-size: 4.7em;
	color: ghostwhite;
	letter-spacing: 0.05em;
	line-height: 20px;
	font-weight: normal;
}
#summaryheading {
	margin-left: 263px;
	text-align: right;
	margin-top: 63px;
	font-size: 1.555em;
	color: ghostwhite;
	font-family: Baskerville, Garamond, serif;
	font-style: italic;
	letter-spacing: 0.05em;
}
img {
	width: 350px;
	height: 230px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
#panel {
	width: 350px;
	height: 230px;
	background: rgb(160,180,140);
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
#navigationbox {
	background: rgb(220,230,180);
	height: 230px;
	width: 253px;
	float: left;
}
#navigation {
	font-size: 25px;
	font-family: helvetica;
	list-style: none;
	font-weight: bold;
	color: firebrick;
	letter-spacing: 0.1em;
	line-height: 1.2;
	text-align: left;
	font-weight: 500;
	margin-top: 108px;
}
a:hover {
	color: rgb(160,180,140);
}
#mainpost {
	font-family: helvetica;
	margin-top: 40px;	
	width: 840px;
	float: left;
	text-align: left;
	margin-left: 263px;
}
#headline {
	font-size: 1.9em;
	line-height: 1.8;
	letter-spacing: 0.04em;
	font-weight: 500;
	color: rgb(160,180,140);
}
#date {
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
}
#text {
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
	margin-top: 10px;
	text-align: justify;
}
#continue {
	font-size: 1.1em;
	line-height: 1.5;
	font-weight: 500;
	color: firebrick;
	letter-spacing: 0.04em;
	margin-top: 8px;
}
#previousposts {
	width: 890px;
	float: left;
	text-align: left;
	margin-left: 213px;
	font-family: helvetica;
	margin-top: 30px;
	letter-spacing: 0.04em;
}
#postimage {
	width: 212px;
	height: 212px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
}
#imagetitle {
	width: 212px;
	height: 30px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	margin-bottom: 10px;
}
#moreposts {
	font-family: helvetica;
	font-size: 1.1em;
	line-height: 2.0;
	letter-spacing: 0.04em;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 20px;
	color: firebrick;
}
#aboutparagraph {
	font-family: helvetica;
	margin-top: 40px;
	width: 485px;
	float: left;
	text-align: left;
	margin-left: 263px;
	margin-bottom: 40px;
	margin-right: 5px;
}
#mepic {
	margin-top: 35px;
	margin-bottom: 40px;
	margin-left: 5px;
	height: 350px;
	width: 350px;
}
.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	font-family: helvetica;
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 500;
	color: rgb(160,180,140);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.container {
		width: 768px;
		height: 160px;
	}
	#mainheading {
		width: 443px;
		height: 160px;
	}
	#nameheading {
		font-size: 4.0em;
		margin-left: 75px;
		font-weight: normal;
		line-height: 18px;
	}
	#blogheading {
		font-size: 3.5em;
		margin-left: 75px;
		line-height: 18px;
	}
	#summaryheading {
		font-size: 1.2em;
		margin-left: 75px;
		margin-top: 32px;
	}
	img {
		width: 240px;
		height: 160px;
	}
	#panel {
		width: 240px;
		height: 160px;
	}
	#navigationbox {
		width: 75px;
		height: 160px;
	}
	#navigation {
		font-size: 1.2em;
		margin-top: 70px;
	}
	#mainpost {
		width: 608px;
		margin-left: 75px;
	}
	#previousposts {
		width: 608px;
		margin-left: 75px;
	}
	#postimage {
		width: 160px;
		height: 160px;
	}
	#imagetitle {
		width: 160px;
	}
	#aboutparagraph {
	width: 350px;
	margin-left: 75px;
	}
	#mepic {
	height: 258px;
	width: 258px;
	}
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
	.container {
		width: 375px;
		height: 80px;
		margin-top: 10px;
	}
	#mainheading {
		width: 211px;
		height: 80px;
	}
	#nameheading {
		font-size: 2.0em;
		margin-left: 40px;
		font-weight: normal;
		line-height: 10px;
	}
	#blogheading {
		font-size: 1.7em;
		margin-left: 38px;
		line-height: 10px;
	}
	#summaryheading {
		font-size: 0.6em;
		margin-left: 40px;
		margin-top: 10px;
	}
	img {
		width: 120px;
		height: 80px;
		margin-left: 2px;
		margin-right: 2px;
	}
	#panel {
		width: 120px;
		height: 80px;
		margin-left: 2px;
		margin-right: 2px;
	}
	#navigationbox {
		width: 40px;
		height: 80px;
	}
	#navigation {
		font-size: 0.7em;
		margin-top: 28px;
	}
	#mainpost {
		width: 293px;
		margin-left: 40px;
		margin-top: 20px;
	}
	#headline {
		font-size: 1.1em;
		letter-spacing: 0.02em;
		line-height: 1.0;
	}
	#date {
		font-size: 0.8em;
	}
	#text {
		font-size: 0.8em;
	}
	#continue {
		font-size: 0.8em;
	}
	#previousposts {
		width: 312px;
		margin-left: 30px;
		margin-top: 10px;
	}
	#postimage {
		width: 82px;
		height: 82px;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 10px;
	}
	#imagetitle {
		width: 82px;
		font-size: 0.4em;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		height: 20px;
	}
	#moreposts {
		font-size: 0.8em;
	}
	#aboutparagraph {
		width: 181px;
		margin-left: 35px;
		margin-right: 2px;
		font-size: 0.8em;
	}
	#mepic {
		height: 85px;
		width: 85px;
	}
}